#uv-index[index=green] {
    background-color: green;
}
#uv-index[index=yellow] {
    background-color: yellow;
}
#uv-index[index=orange] {
      background-color: orange;
}
#uv-index[index=red] {
    background-color: red;
}
#uv-index[index=violet] {
    background-color: violet;
}
.uv-index{
    padding: 2px 5px 5px 5px;
    border-radius: 5px;
}
.container-fluid{
    max-width:1350px
}
.active{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px!important;
    width: 150px;
    height: 230px;
}
.card{
    margin-bottom: 20px;
}
.jumbotron {
    background-color: rgb(78, 80, 83)!important;
    color: white;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.clickme{
    cursor: pointer;
}
.five-day-forecast{
    padding-left:20px
}