#uv-index[index=green] {
    background-color: green;
}
#uv-index[index=yellow] {
    background-color: yellow;
}
#uv-index[index=orange] {
      background-color: orange;
}
#uv-index[index=red] {
    background-color: red;
}
#uv-index[index=violet] {
    background-color: violet;
}